body {
  font-family: "Inter", "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  overflow-x: hidden;
  margin: 0;
}
.center {
  margin: 0 auto;
}
#vision {
  text-align: center;
  margin-bottom: 5px;
}
#vision h1 {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-top: 0px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 50px;
  background-color: #353966;
  padding-bottom: 0.1em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  outline: 5px solid black;
}
#image-showcase-container {
  /* top: 100px; */
  z-index: 0;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  position: relative;
  /* width: 100%; */
  width: calc(3 * (200px + 8px));
  /* margin: 0 auto; */
  padding: 0 35px;
}
#image-showcase {
  display: flex;
  transition: transform 0.5s ease;
  justify-content: flex-start;
  /* margin: 0 auto; */
}
#image-showcase img {
  /* height: 50%; */
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  object-fit: cover;
  margin: 0 4px;
}
#scroll-left,
#scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #799ab2;
  border: none;
  border-radius: 2px;
  padding: 10px;
  z-index: 10;
  width: 10px;
  height: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px;
  outline: 1px solid black;
  overflow: visible;
}
#scroll-left {
  left: 0;
  outline-offset: -1px;
}
#scroll-right {
  right: 0px;
  outline-offset: 1px;
}
header h2 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 2em;
  text-shadow: 1px 1px;
  color: #353966;
}
#team {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
  padding: 20px;
}
figure {
  width: 15%;
  /* width: calc(20% -10px); */
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #799ab2;
  box-shadow: 7px 7px 5px 1px;
  outline-style: solid;
}
figure img {
  width: 50%;
  height: auto;
  border-radius: 50%;
}
figcaption {
  margin-top: 10px;
  font-weight: bold;
}
nav {
  /* display: flex; */
  position: sticky;
  top: 0;
  text-align: center;
  padding: 2em;
  background-color: #353966;
  box-shadow: 10px 10px 5px -2px;
  outline-style: solid;
  outline-color: black;
  width: 90%;
}
nav a {
  padding: 1em;
  color: white;
  text-decoration: none;
  text-shadow: 0px 1px;
}
nav a:active {
  color: aquamarine;
}
nav a:visited {
  color: white;
}
nav a:hover {
  color: aqua;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: center;
}
main section h2 {
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
  color: #353966;
  text-shadow: 1px 1px 1px;
  padding: 0.5em 0.5em 0em;
}
main section h2:hover {
  text-align: center;
  color: aqua;
}
main section div {
  display: none;
  flex-direction: column;
  align-items: center;
}
main section p {
  width: 50%;
  font-size: 16px;
  color: black;
  text-shadow: 0px 0.2px;
}
#wire-frames img {
  width: 33.33%;
  height: 33.33%;
}
footer {
  position: fixed;
  /* margin-top: 1vh; */
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5em;
  padding-bottom: 0.25vh;
  width: 100%;
  background-color: #353966;
  font-size: 9px;
  color: white;
  margin-bottom: -2vh;
  box-sizing: border-box;
  border-top-style: solid;
  border-top-color: black;
}
